<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<th:block th:fragment="footer">
    <footer class="site-footer" id="footer">
        <div class="central">
            <div class="footer-text">
                <p><span class="copyright">Copyright © 2019-2020 V1.2</span> <a href="/">moinros</a></p> |
                <p><a href="https://github.com/moinros" target="_blank">Github</a></p> |
                <p>本站遵循 <a href="https://creativecommons.org/licenses/by-sa/4.0" target="_blank">CC BY-SA 4.0</a> 协议
                    转载请注明出处</p> |
                <p>互联网ICP备案：<a href="http://www.beian.miit.gov.cn" target="_blank">蜀ICP备19008901号</a></p>
            </div>
            <div class="footer-text">
                <p>基于<a href="https://spring.io" target="_blank">SpringBoot</a>构建 </p> |
                <p>托管于 <a href="https://www.aliyun.com/product/ecs" target="_blank">阿里云服务器ECS </a></p> |
                <p><a href="/msg.html" target="_blank">意见反馈</a></p> |
                <!--	<p><script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278574662&web_id=1278574662"></script></p>-->
            </div>
        </div>
    </footer>
    <script>
        (function() {
            var links = document.getElementsByTagName("a");
            for (var i = 0; i < links.length; i++) {
                if (links[i].href != undefined && links[i].href != null && links[i].href != '') {
                    if (links[i].getAttribute('target') == undefined || links[i].getAttribute('target') == null) {
                        if (links[i].onclick == undefined || links[i].onclick == null) {
                            $C.bindEvent.add(links[i], 'onclick', RosDialog.dialog.wait);
                        }
                    }
                }
            }
        })();
    </script>
</th:block>
</html>

