<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<th:block th:fragment="header">
    <header class="site-header">
        <div class="central">
            <div class="header-bar clearfix">
                <div class="logo float-left">
                    <a href="/"><span title="晓默的博客">晓默的博客</span></a>
                </div>
                <div class="nav float-left">
                    <ul>
                        <li><a href="/">首页</a></li>
                        <li><a href="/archive.html">归档</a></li>
                        <li><a href="/friends.html">友链</a></li>
                        <li><a href="/about.html">关于</a></li>
                        <!--   <li><a href="/log.html">日志</a></li>-->
                        <li><a href="/msg.html">留言板</a></li>
                    </ul>
                </div>
                <div class="search-box float-right">
                    <form action="/search" method="get">
                        <input type="text" name="value" placeholder="输入关键字搜索">
                        <button class="button" type="submit">搜索</button>
                    </form>
                </div>
                <div class="nav-user-center" th:if="${session.USER_DATA != null}">
                    <a class="user-img" id="USER_CENTER" title="晓默" th:data="|({'uid':'${session.USER_DATA.userId}','name':'${session.USER_DATA.nickName}','img':'${session.USER_DATA.imagePath}'})|"><img th:src="${session.USER_DATA.imagePath}"></a>
                    <div class="mini-avatar" id="mini_avatar">
                        <ul>
                            <li><a>个人中心</a></li>
                            <li><a th:href="|/logout?url=${#httpServletRequest.getRequestURL()}|">退出登录</a></li>
                        </ul>
                    </div>
                    <script>
                        (function() {
                            var miniAvatar = document.getElementById('mini_avatar');
                            var userCenter = document.getElementById('USER_CENTER');

                            // 显示OR隐藏[miniAvatar]模块
                            $C.bindEvent.add(userCenter, 'onclick', function() {
                                miniAvatar.style.display = miniAvatar.style.display == 'none' || !miniAvatar.style.display ? 'block' : 'none';
                            });

                            // 添加一个全局的鼠标点击事件,当鼠标点击别处时隐藏[miniAvatar]模块
                            $C.mouse.down.add({
                                key: "mini_avatar",
                                value: function(key) {
                                    let tar = (key.target || key.srcElement); // key.srcElement兼容IE
                                    if (!$C.dom.isTargetSon(tar, miniAvatar) && !$C.dom.isTargetSon(tar, userCenter))
                                        miniAvatar.style.display = 'none';
                                }
                            });

                        })();
                    </script>
                </div>
            </div>
        </div>
        <input type="hidden" id="xm_page_mark" th:value="|(${PAGE_MARK})|"/>
    </header>
</th:block>
</html>