<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<div style="margin: auto;width: 600px;padding: 10px;text-align: center;">
    <div style="font-size: 20px;font-weight: 500;margin: 10px;color: #ff0080">你本次的验证码为</div>
    <div style="font-size: 22px;font-weight: 500;margin: 10px;color: #ff0000;">
        <span style="padding: 5px 20px 5px 20px;border: solid 1px #ff0080;background-color: #eeeeee;">${checkcode}</span>
    </div>
    <div style="font-size: 16px;margin: 10px;color: #ff0000">验证码有效时间为30分钟，如果不是你本人申请，请无视此邮件！</div>
</div>
</html>