<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
</head>
<div style="width: 560px;margin: auto;text-align: center;padding: 20px">
    <div style="color: #ff4895;font-size: 28px;margin: 20px 10px 20px 10px;">你本次的验证码为</div>
    <div style="margin: 20px 10px 20px 10px;">
        <div style="display: inline-block;color: #da00ff;font-size: 20px;border: 1px solid #43c9ef;padding:10px 20px 10px 20px;">
            <span>${checkcode}</span>
        </div>
    </div>
    <div style="font-size: 14px;margin: 20px 10px 20px 10px;">验证码有效时间为30分钟，如果不是你本人操作，请无视并删掉此邮件！</div>
</div>
</html>