<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
</head>
<div style="width: 560px;margin: auto;text-align: center;padding: 20px">
    <p style="color: #ff4895;font-size: 28px;">你本次的验证码为</p>
    <p>
        <input type="text" readonly="readonly" value="${checkcode}" style="width: 175px;height: 36px;color: #da00ff;font-size: 20px;text-align: center;border: 1px solid #43c9ef;outline: medium;"/>
    </p>
    <p style="font-size: 14px;">验证码有效时间为30分钟，如果不是你本人操作，请无视并删掉此邮件！</p>
</div>
</html>