<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<head>
    <th:block th:replace="common/head :: head"></th:block>
    <title>关于 - 晓默的博客</title>
</head>
<body id="app">
<th:block th:replace="common/header :: header"></th:block>
<th:block th:replace="common/focus :: focus"></th:block>
<section class="container">
    <div class="central" style="background-color: #fff">
        <div>
            <h3>关于我</h3>
            <p>首先，感谢访问我的博客。</p>
            <p>我是晓默，来自四川乐山，处女座，强迫症比较严重</p>
            <p>我的QQ：<i>1785793169</i></p>
            <p>我的邮箱：<i>moinros@qq.com</i></p>
            <p>我的微信：<i>moinros</i></p>
            <p>我呢性格比较内向，不喜欢说话，也可以理解为不善于表达而导致话少进而不喜欢说话。</p>
            <p>我呢属于心态比较乐观的类型吧，感觉用‘随遇而安’来形容我应该很合适吧。。。大概？</p>
            <p>只会关注自己感兴趣的东西</p>
            <p>喜欢画画(但是很久没动过笔了)，也没有系统的学习过</p>
            <h3>我的名字</h3>
            <p>先说‘晓默’这个名字，因为我不喜欢说话，平时话很少，再加早些年 网上各种‘XX哥’挺流行的，于是呢几个朋友就给我起了个外号：‘沉默哥’。</p>
            <p>后来又渐渐发展出了‘小莫’的外号。加上我自己本身也不是很在意这些，就由他们叫了,时间久了，渐渐也就习惯了。</p>
            <p>随着时间的推移，见识越来越广，注册的网站、游戏、论坛等也越来越多，就想着给自己起一个统一的，永远不会换的名字。</p>
            <p>但是呢，起名字这种事，真的超难想的！！QAQ 最后还是决定还是用‘小莫’吧，反正被朋友叫了这么些年，已经习惯了。</p>
            <p>然后尴尬的事情来了，我在注册B站的时候，发现叫‘小莫’的人还不少，又不想换(主要是不想起新的名字)。</p>
            <p>很苦恼。。。最后只好在同音字上下功夫了。想了很久···最后选择了‘晓默’；其中：‘晓’出自四川话：“不晓得”、‘默’出自‘沉默哥’。</p>
            <p>嘛~最终‘晓默’，我的第二个名字就这么定下来了。</p>
            <p>再说说‘moinros’这个名字是怎么来的</p>
            <p>因为有些网站啥的不支持中文名字，为了方便，就想着给自己起个英文名。</p>
            <p>‘moinros’其实是个组合词，‘mo’是‘默’的拼音；‘in’是‘音译的拼音'yinyi'的缩写’；</p>
            <p>而‘ros’则出自我最喜欢的动漫，同时也是我的入宅作的《天降之物》女主-‘ikaros’。合起来就是：moinros</p>
            <p>不要问我这个词怎么读！我也不知道，鬼知道我当时怎么想的？反正我现在就只记得这个名字是这样想出来的QAQ</p>
            <p>大概就是这样~</p>
            <h3>关于本站</h3>
            <p>我自己是跨行来学编程的，以前没干过相关的工作，啥也不懂。。。</p>
            <p>最早有做个人博客的想法是在去年(2019年)6月份左右。之前一直都是跟着网站的视频自学，当时感觉学习遇到了瓶颈，就想着搭一个个人网站啥的</p>
            <p>之后就是开始学着搭网站，不会的就百度，到8月份左右总算是部署上线了第一个项目。</p>
            <p>然鹅：因为当时没有备份的习惯，打包项目的时候，不小心把源码给删了。就这样：我的第一代博客，game over,享年1天，没办法只好重头再来。</p>
            <p>就这样，之后又重写了好几个样板，背景也是从黑色、粉色、蓝色···不停换，浪费了几个月时间，还是不满意。</p>
            <p>直到写这段话的时候(2020/1/30)我又准备重做了。</p>
            <p>这次我决定了,不管结果如何，以后绝不重做！这个项目的源码也上传到了Github，全部开源</p>
            <p>未来怎么样，说实话我也不知道。。。</p>
            <p>但是···就这样了，欢迎路过的朋友、大佬指点一二</p>
            <i>2020年1月30日记</i>
        </div>
    </div>
</section>
<th:block th:replace="common/footer :: footer"></th:block>
</body>
</html>