<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hans">
<head>
    <th:block th:replace="common/head :: head"></th:block>
    <title>关于 - 晓默的博客</title>
</head>
<body id="app">
<th:block th:replace="common/header :: header"></th:block>
<th:block th:replace="common/focus :: focus"></th:block>
<section class="container">
    <div class="central">
        晓默的博客
        <div id="show"></div>
    </div>
</section>
<th:block th:replace="common/footer :: footer"></th:block>
</body>
</html>