@charset "utf-8";


a {
    text-decoration: none;
    color: #333;
}


html, body, button, a, input, textarea, code, .button {
    font-family: small, Consolas, Arial, Helvetica, tahoma, sans-serif, cursive, 'Microsoft YaHei';
}

body {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 0;
    color: #000;
}

ul {
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
}

li {
    list-style: none;
}

input {
    outline: medium;
}

button {
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.button {
    text-align: center;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

textarea {
    overflow-x: hidden;
    resize: none;
    font-size: 16px;
    font-family: 黑体;
    padding: 5px 10px 5px 10px;
    vertical-align: middle;
    border: 1px solid #ccc;
    outline: none;
}

textarea:hover {
    border: 1px solid #00c3ff;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

code {
    display: block;
    outline: none;
    overflow: scroll;
    padding: 5px;
    border: 1px solid #ccc;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header, section, footer {
    display: block;
}

pre code {
    background-color: #323232;
    color: #ff8b0f;
}

.central {
    max-width: 1200px;
    width: 1200px;
    margin: auto;
}

._tou-wrap {
    position: relative;
    display: inline-block;
    border: 1px solid #00c3ff;
    border-radius: 50%;
}

._tou-wrap img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: middle;
}

._tou-wrap:hover {
    border: 1px solid #ff8000;
}

._name-wrap {
    position: relative;
    display: inline-block;
}

._name-wrap span {
    text-align: center;
}

.tips:after {
    font-size: 14px;
    color: #c81414;
    content: attr(tips);
}

.tips-success:after {
    color: #16de16;
}

.tips-error:after {
    color: #c81414;
}

.btn-wrap .button {
    display: block;
    min-height: 22px;
    padding: 5px 40px 5px 40px;
    color: #fff;
    font-size: 16px;
    white-space: nowrap;
    border: 1px solid #00c3ff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #fff inset;
    background-color: #00c3ff;
}

.btn-wrap .button:hover {
    border: 1px solid #24cdff;
    box-shadow: 0px 0px 5px 2px #fff inset;
    background-color: #24cdff;
}

.btn-wrap .button:active {
    border: 1px solid #00c3ff;
    box-shadow: 0px 0px 6px 2px #c8faff inset;
    background-color: #00bef0;
    color: #00ffff;
}

.tag-mark-link {
    color: #529cf1;
    font-size: 12px;
    border: 1px solid #cccccc;
    padding: 2px;
    margin: 2px;
}

.tag-mark-link:hover {
    color: #ffffff;
    border: 1px solid #00c3ff;
    background-color: #4cb7ff;
}


.upload-dialog .u-d-background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 8000;
    background-color: rgba(153, 153, 153, 0.5);
}

.upload-dialog .u-d-wrap {
    position: fixed;
    top: 40%;
    left: calc(50% - 300px);
    width: 600px;
    min-height: 400px;
    text-align: center;
    border: 1px solid #999999;
    box-shadow: 0px 0px 5px 1px #999999;
    background-color: #ffffff;
    z-index: 8500;
}

.upload-dialog form {
    padding: 8px;
}

.upload-dialog img {
    width: 580px;
}

.upload-dialog .close-bar {
    height: 20px;
    padding: 10px;
    background-color: #ececec;
    border-bottom: 1px solid #cccccc;
}

.upload-dialog .close {
    position: relative;
    float: right;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #bebebe;
    background-color: #fafafa;
    box-shadow: 0px 0px 2px 1px #dedede inset;
}

.upload-dialog .close:hover {
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    box-shadow: 0px 0px 2px 1px #dedede inset;
}

.upload-dialog .close:active {
    border: 1px solid #bfbfbf;
    background-color: #efefef;
    box-shadow: 0px 0px 2px 1px #dedede inset;
}

.upload-dialog .close i::before {
    position: absolute;
    top: 8px;
    left: 1px;
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background: #bebebe;
    transform: rotate(-45deg);
    border-radius: 1px;
}

.upload-dialog .close i::after {
    position: absolute;
    top: 8px;
    left: 1px;
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background: #bebebe;
    transform: rotate(45deg);
    border-radius: 1px;
}


/*----------|----------|header.css|----------|----------*/
#app {
    margin-top: 60px;
}

.site-header {
    background-color: #2a9bff;
    position: fixed;
    top: 0px;
    display: block;
    width: 100%;
    z-index: 999;
}


.site-header .header-bar {
    padding: 15px 10px 10px 10px;
}

.site-header .logo {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    font-family: small;
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    margin-right: 25px;
}

.site-header .logo a {
    font-family: small;
    color: #ffffff;
}

.site-header .nav {
    display: inline-block;
    left: 20px;
}

.site-header .nav li {
    display: inline-block;
    overflow: hidden;
}

.site-header .nav a {
    display: block;
    color: #ffffff;
    font-family: small;
    font-size: 16px;
    padding: 0px 12px 0px 12px;
    height: 32px;
    line-height: 32px;
    border-radius: 4px;

}

.site-header .nav a:hover {
    color: #ffffe9;
    background-color: #3c97f6;
    box-shadow: 0px 0px 5px 1px #4283e3 inset;
}

.site-header .nav a:active {
    color: #ffe600;
    box-shadow: 0px 0px 8px 1px #4181df inset;
}

.site-header .user-data ._tou-wrap {
    width: 34px;
    height: 34px;
}

.site-header .user-data ._name-wrap {
    color: #ffffff;
}

.site-header .user-data .item {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.site-header .search-box {
    height: 32px;
    line-height: 32px;
}

.site-header .search-box input[type='text'] {
    width: 155px;
    height: 26px;
    padding: 2px 10px 2px 10px;
    margin: 0px;
    border: none;
    vertical-align: middle;
    color: #888888;
    background-color: #ffffff;
    border-radius: 4px 0px 0px 4px;
}

.site-header .search-box input[type='text']:hover {
    box-shadow: 0px 0px 2px 1px #ff922b inset;
}

.site-header .search-box input[type='text']:focus {
    color: #333;
}

.site-header .search-box .button {
    display: inline-block;
    width: 72px;
    height: 30px;
    border: none;
    vertical-align: middle;
    font-size: 16px;
    background-color: #eeeeee;
    color: #666666;

    border-radius: 0px 4px 4px 0px;
}

.site-header .search-box .button:hover {
    color: #327fff;
    box-shadow: 0px 0px 4px 1px #ff922b inset;
}

/*----------|----------|header.css|----------|----------*/
.focus {
    background-color: #fbfbfb;
    border-bottom: 1px solid #eaeaea;
}

.focus .toptip {
    padding: 10px;
    color: #00c3ff;
}

.focus .toptip a {
    color: #00c3ff;
}

.focus .toptip a:hover {
    color: #ff8040;
}

/*----------|----------|footer.css|----------|----------*/
.site-footer {
    background-color: #EEEEEE;
    text-align: center;
    color: #666666;
}

.site-footer p {
    display: inline-block;
    font-size: 12px;
}

.site-footer a {
    color: #666666;
}

.site-footer a:hover {
    color: #00c3ff;
    font-size: 12px;
    text-decoration: underline;
}

.site-footer .copyright {
    font-family: "ZCOOL KuaiLe";
}


/*----------|----------|footer.css|----------|----------*/


/*----------|----------|dialog.css|----------|----------*/
.dialog-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(153, 153, 153, 0.5);
}

.dialog-box {
    position: fixed;
    top: 40%;
    left: calc(50% - 111px);
    margin: auto;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #aaa;
    width: 200px;
    padding: 10px;
    box-shadow: 0px 1px 5px 2px #ccc;
    color: #333333;
    z-index: 9999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dialog-box .dialog-content {
    min-height: 42px;
    padding: 10px;
}

.dialog-box a {
    display: block;
    color: #2488ef;
}

.dialog-box a:hover {
    text-decoration: underline;
}

.dialog-box a:active {
    color: #f5881a;
}

.dialog-box .dialog-close {
    height: 20px;
}

.dialog-box .close {
    position: relative;
    float: right;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid #bebebe;
    background-color: #fafafa;
    box-shadow: 0px 0px 2px 1px #dedede inset;
}

.dialog-box .close:hover {
    border: 1px solid #aaaaaa;
    background-color: #eeeeee;
    box-shadow: 0px 0px 2px 1px #dedede inset;
}

.dialog-box .close:active {
    border: 1px solid #bfbfbf;
    background-color: #efefef;
    box-shadow: 0px 0px 2px 1px #dedede inset;
}

.dialog-box .close i::before {
    position: absolute;
    top: 8px;
    left: 1px;
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background: #bebebe;
    transform: rotate(-45deg);
    border-radius: 1px;
}

.dialog-box .close i::after {
    position: absolute;
    top: 8px;
    left: 1px;
    content: '';
    display: block;
    width: 16px;
    height: 2px;
    background: #bebebe;
    transform: rotate(45deg);
    border-radius: 1px;
}

.dialog-box .close:hover i::before {
    background: #888888;
}

.dialog-box .close:hover i::after {
    background: #888888;
}

.dialog-box .close:active i::before {
    background: #f5881a;
}

.dialog-box .close:active i::after {
    background: #f5881a;
}

.dialog-box .dialog-button {
    height: 24px;
}

.dialog-box .dialog-button .yes {
    float: left;
}

.dialog-box .dialog-button .no {
    float: right;
}

.dialog-box .box-button {
    font-size: 12px;
    width: 50px;
    height: 24px;
    color: #333333;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 3px 1px #dedede inset;
    border: 1px solid #bbb;
    margin: 0px 20px 0px 20px;
}

.dialog-box .box-button:hover {
    color: #00c3ff;
    background-color: #ececec;
    box-shadow: 0px 0px 3px 1px #dedede inset;
}

.dialog-box .box-button:active {
    color: #ff8040;
    background-color: #e4e4e4;
    box-shadow: 0px 0px 3px 1px #d2d2d2 inset;
}

.dialog-wrap .dialog-wait {
    position: fixed;
    top: calc(50% - 100px);
    left: calc(50% - 40px);
    min-width: 200px;
    min-height: 80px;
    text-align: center;
}

.dialog-wrap .dialog-wait .wait-text {
    color: #f8f72d;
    padding: 10px;
}

.dialog-wrap .dialog-wait .wait-circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 3px dotted #00c3ff;
    border-radius: 19px;
    user-select: none;
    animation-name: dialog-wait;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes dialog-wait {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*----------|----------|dialog.css|----------|----------*/